/*BODY*/

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color:#000000;
    color: #ffffff;
    background-color: #707070;


    /*
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23000000' fill-opacity='0.37' fill-rule='evenodd'/%3E%3C/svg%3E");
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23949494' fill-opacity='0.4'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"););
    
    background-color: #3d3d3e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23696969' fill-opacity='0.4'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    */
    background-color: #020202;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%231ccfea' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    /*
    background-color: #040404;
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ae0303' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    */
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* ICONO */ 
:root{
    scroll-behavior: smooth;
}

.icono{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

.navegar{
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(135deg, #000000 0%, #303030 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0%);
}

.navegar a{
    color: #fff;
    text-decoration: none;
}


/* SOMBRAS Y BRILLO */
.text-glow {/*Definig font could be useful!*/ 
    color: #FFFFFF; 
} 

.text-glow:hover { 
    text-shadow: 2px 0px 20px #00f7ff; 
    -webkit-transition: 1s linear 0s; 
    -moz-transition: 1s linear 0s; 
    -o-transition: 1s linear 0s; 
    transition: 1s linear 0s; 
    outline: 0 none; 
} 

.text-glow:not(:hover) { 
    text-shadow: 1px 0px 20px #2036ff; 
    -webkit-transition: 1s linear 0s; 
    -moz-transition: 1s linear 0s; 
    -o-transition: 1s linear 0s; 
    transition: 1s linear 0s; 
    outline: 0 none; 
}


/* Titulo */
.title{
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
    background: #198abe;
    color: #ffffff;
    font-size: 30px;
    padding: 20px 0;
    padding-bottom: 20px;
    text-shadow: #2036ff 0 0 10px;
}

/* APTITUDES */
.aptitudes-title{
    text-align: center;
    margin: 10px 0;
    text-decoration: underline;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 0;
    padding-bottom: 20px;
    
}
.aptitudes-main{
    margin: 10px 0;
    background:black;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 0;
    padding-bottom: 20px;
    margin: 30px;
    border-radius: 20px;
}

.inicio-texto{
    margin: 25px;
}

.aptitudes-title{
    text-align: center;
    margin: 10px 0;
    text-decoration: underline;
    color: #ffffff;
    font-size: 22px;
    padding: 20px 0;
    padding-bottom: 20px;
    
}
.aptitudes-menu{
    margin: 10px 0;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

;
    width: 100%;
    text-align: center;

}

.aptitudes-menu img{
    width: 90%;
    position: relative;
    
}

/* FOTOS */
.foto{
    border-radius: 15px;
    height: 350px;
    width: 200px;
}

.fotos-main{
    margin: 10px 0;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 0;
    padding-bottom: 20px;
    border-radius: 15px;
}

.fotos-menu{
    margin: 10px 0;
    width: 10%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 15px;

    margin: 10px 0px;
    width: 100%;
    text-align: center;
    
}

.foto-perfil{
    border-radius: 50px;
}

.fotos-menu img{
    width: 90%;
}

.foto_2{
    padding: 0;
    border-radius: 15px;
    height: 225px;
}

.foto_3{
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 100%;
    height: 225px;
    width: 225px;
}

/* DESARROLLADORES */
.otros-proyectos-main{
    display: grid;
    background-color: #000000;
    text-align: center;
    border-radius: 50px;
    margin: 20px;
}

.otros-proyectos-menu{
    margin: 10px 0px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.otros-proyectos-dv{
    margin: 15px;
}

.otros-proyectos-menu img{
    height: 70%;
    width: 95%;
    padding: 10px;
}

.otros-proyectos-menu p{
    padding: 10 20px;
}


/* BOTONES */
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;
}

.btn:hover{
    text-shadow: #ffffff 0 0 10px; 
}

/* FORMULARIO */
.form {
    background-color: rgb(32, 29, 29);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.form-aux{
    border-radius: 15px;
}

.form input{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

/* SOCIAL border-radius: 100%;*/
.social{
    margin: 35px;
} 

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/* FOOTER LINKS */
.footer-links{
    background: #000000;
    color:#ffffff;
    font-size: 12px;
    padding: 35px 0;
}

.footer{
    background: #000000;
    color: #616161;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}
/*
.glow {
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 
                   0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
}
*/
/* FORMATO CELULAR */
@media(max-width:1292px){
    .otros-proyectos-main{
        padding-bottom: 40px;
    }

    
    
}
@media(max-width:995px){
    .otros-proyectos-main{
        padding-bottom: 60px;
    }

    
    
}
@media(max-width:900px){
    .otros-proyectos-menu{
        grid-template-columns: 1fr;
        font-size: 14px;
        
    }
    .otros-proyectos-main{
        border-radius: 30px;
        margin: 10px;
    }
    
    
}
@media(max-width:800px){
    .aptitudes-menu{
        grid-template-columns: 1fr;
    }
    .aptitudes-main{
        margin: 0px;
    }
    .fotos-menu{
        grid-template-columns: 1fr;
    }  
}
@media(max-width:600px){
    .navegar{
        
        width: 25vh;
        
    }
}
@media(max-width:265px){
    
    .links a {
        margin: 0 10px;
    }
    
}
@media(max-width:245px){
    .otros-proyectos-menu{

        font-size: 12px;
    }
    .otros-proyectos-main{
        margin: 0px;
        
    }
    .links a {
        margin: 0 5px;
    }
    
}
@media(max-width:230px){
    
    .links a {
        margin: 0 3px;
    }
    
}